body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  background:rgb(248, 248, 248);
}

.button {
  background: #ff323c;
  border-radius: 5px;
  color: whitesmoke;
  border: solid 1px whitesmoke;
}

.navbar {
  background: #ff323c;
  width: 100%;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  color: whitesmoke;
  display: inline-flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}

.navbar-items {
  list-style: none;
  display: inline-flex;
}

.navbar-item {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.footer {
  background: rgb(31, 30, 30);
  color: whitesmoke;
  padding: 1em;
  justify-self: flex-end;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.card {
  margin: 1em;
  width: 300px;
  border-radius: 5px;
  /*padding: 0.5em;*/
  background: whitesmoke;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 5px 14px -1px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 14px -1px rgba(0,0,0,0);
  height: 200px;
}

.card-body {
  padding: 0.5em;
}

.title {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0.5em;
  padding-bottom: 0;
  background: #ff323c;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: solid lightgray 1px;
}

.tag {
  margin-left: 0.5em;
  border: solid 2px #f7232e;
  color: #f7232e;
  font-weight: bold;
  background: whitesmoke;
  border-radius: 6px;
  padding: 0 0.25em 0 0.25em;
}